.header-image {
    margin-top: 80%;
}

.menulist {
    padding: 0;
    margin:0;
    list-style: none;
}

.menulist_item {
    padding: 11px;
}

.menulist_link {
    color: $azul;
    text-decoration: none;
    padding: 5px 10px;
    font-family: $font-stack;
    font-weight: $bold;
}

.menulist_link_active {
    color: $verde-link;
    text-decoration: none;
    padding: 5px 10px;
    font-family: $font-stack;
    font-weight: $bold;
}

.logo {
    width: 70px;
}

.bg-dark {
    background-color: #7DEA9C !important;
}



@media screen and (min-width: 500px) and (max-width: 800px) { 


    .sidebar {
        position: relative;
        top: 0px;
        bottom: 0;
        left: 0;
        padding: 0;
        background-color: none!important;
    }


    .header-image {
        visibility: hidden;
    }  

    .menulist {
        visibility: hidden;
    }

}
